
### folders
node_modules
.idea
scripts
test

### matching
*.sh
*.txt
*.md
*.ts
*.json
*.yml
*.log
*.DS_Store

### files
.editorconfig
suman.conf.js
.npmignore
.gitignore
yarn.lock

### negation
!*.d.ts


